<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Gateway - Doação de Sangue</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="container">
        <div style="display: flex; justify-content: space-between; align-items: center; border-bottom: 2px solid #d32f2f; margin-bottom: 20px;">
            <h1>Solicitações de Doação Urgentes</h1>
            <!-- Novo Botão de Cadastro -->
            <a href="/nova-solicitacao" class="btn-cadastro">Nova Solicitação</a>
        </div>

        {% for s in solicitacoes %}
        <div class="card">
            <h3>Paciente: {{ s.paciente_detalhes.nome }}</h3>
            <p>Tipo Sanguíneo Necessário: <strong>{{ s.tipo_sanguineo_necessario }}</strong></p>
            <p>Hospital: {{ s.hospital }}</p>
            
            <a href="{{ s._links.detalhes }}" class="btn">Ajudar nesta solicitação</a>
            
            <div class="links">
                <small>API Origem: {{ s._links.api_origem }}</small>
            </div>
        </div>
        {% else %}
        <p>Nenhuma solicitação encontrada na API de Pacientes.</p>
        {% endfor %}
    </div>
</body>
</html>