<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Registrar Doação</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='registrar_doacao.css') }}">
</head>
<body>
    <div class="form-container">
        <h2>Finalizar Doação</h2>
        
        <div class="info-box">
            <strong>Demanda Selecionada:</strong><br>
            Paciente: {{ solicitacao.paciente_detalhes.nome }} <br>
            Tipo Sanguíneo: {{ solicitacao.tipo_sanguineo_necessario }}<br>
            Hospital: {{ solicitacao.hospital }}
        </div>
        <h3>Critérios para Doação</h3>
    
        {% for nome_categoria, lista_criterios in categorias.items() %}
            <div class="categoria-box">
                <h4>{{ nome_categoria }}</h4>
                <ul>
                    {% for criterio in lista_criterios %}
                        <li>
                            <strong>{{ criterio.titulo }}</strong>: {{ criterio.descricao }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        <form action="/registrar-comprovante" method="POST" enctype="multipart/form-data">
            <!-- ID da solicitação oculto para o backend -->
            <input type="hidden" name="solicitacao_id" value="{{ solicitacao.id }}">

            <label>Selecione o Doador (API Doadores):</label>
            <select name="doador_id" required>
                <option value="">-- Selecione um doador --</option>
                {% for d in doadores %}
                <option value="{{ d.id }}">{{ d.nome }} - {{ d.tipo_sanguineo }}</option>
                {% endfor %}
            </select>
            
            <label>Upload do Comprovante (PDF/Imagem):</label>
            <input type="file" name="comprovante" required>

            <button type="submit" class="btn-save">Confirmar e Salvar Registro</button>
        </form>
        <br>
        <a href="/">Voltar para a lista</a>
    </div>
</body>
</html>